<!DOCTYPE HTML>

<html>
	<head>
		<title>Sklep</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
			<header id="header">
				<h1>Sklep Zoologiczny</h1>
			</header>
			<div class="pure-menu pure-menu-horizontal bottom-margin">
				<!--<input type=button href="{$conf->action_root}loginShow" value="Zaloguj" />-->
				<a href="{$conf->action_root}start" class="pure-menu-heading pure-menu-link">Strona Główna</a>
				<a href="{$conf->action_root}productList" class="pure-menu-heading pure-menu-link">Lista produktów</a>
				<a href="{$conf->action_root}logout" class="pure-menu-heading pure-menu-link">Wyloguj</a>
				<a href="{$conf->action_root}loginShow" class="pure-menu-heading pure-menu-link">Zaloguj</a>
				<a href="{$conf->action_root}KoszykShow" class="pure-menu-heading pure-menu-link">Koszyk</a>
			</div>
			{block name=top} {/block}
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>	<p> Mikołaj Muś <br/>
							  +48 455633456 <br>
								Będzińska 22, Sosnowiec
						</p></li>
				</ul>

			</footer>


			<script src="assets/js/main.js"></script>

	</body>
</html>
